.row {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.column {
  padding: 10px 10px;
}

.mission-statement-image {
  max-width: 100%;
}

.btn-about-us {
  font-size: 20px;
}

@media(min-width: 992px) {
  .column{
    padding: 50px 50px;
  }
  .home-page-intro {
    width: 50%;
  }
  .home-page-intro p {
    font-size: 24px;
  }
  .who-we-are.title {
    font-size: 35px;
  }
}
