.row.intro {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.page {
  padding-left: 0px;
  padding-right: 0px;
}

.column {
  padding: 10px 10px;
}

.purpose-statement-image {
  max-width: 100%;
  width: 500px;
  border-radius: 2%;
  opacity: 0.9;
}

.btn-about-us {
  font-size: 20px;
  border-style: solid;
  padding: 10px;
  border-radius: 15px;
}

.welcome-text {
  font-size: 20px;
}

@media(min-width: 992px) {
  .row.intro {
    padding-top: 0px;
  }
  .column{
    padding: 50px 50px;
  }
  .home-page-intro {
    width: 50%;
  }
  .welcome-text {
    font-size: 18px;
  }
  .who-we-are.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
