.row.links {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}

.row.links .tile {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.homepage-text {
  font-size: 20px;
  background-size: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.row.links .tile-text {
  background-color: black;
  border-radius: 20px;
  opacity: 0.7;
  padding: 10px;
  color: white;
  margin-top: 25%;
  font-size: 25px;
  text-transform: uppercase;
}

.tile-text {
  text-align: center;
}

@media(min-width: 992px) {
  .homepage-text{
    background-size: 100%;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .row.links {
    padding-top: 50px;
  }
  .row.links .tile {
    height: 250px;
    width: 20%;
  }
  .row.links .tile-text {
    margin-top: 40%;
    font-size: 22px;
  }
}

.homepage-text.covid {
  background-image: url('../../img/tile/covid.jpg');
  background-repeat: no-repeat;
  color: black;
}

.homepage-text.church {
  background-image: url('../../img/tile/church.jpg');
  background-repeat: no-repeat;
  color: black;
}

.homepage-text.sermon {
  background-image: url('../../img/tile/sermon.jpg');
  background-repeat: no-repeat;
  color: black;
}

.homepage-text.contact {
  background-image: url('../../img/tile/contact.jpg');
  background-repeat: no-repeat;
  color: black;
}

