.home-page-intro {
  text-align: center;
  padding: 50px 45px;
}

@media(min-width: 992px) {
  .home-page-intro{
    padding: 50px 100px;
  }
}

.home-page-intro h2 {
  color: #b49c7f;
}

.home-page-intro p {
  font-size: 26px;
}
