.file-download-btn {
  padding: 0;
  color: #b49c7f;
}

.file-download-btn:hover {
  color:#b49c7f;
  text-decoration: none;
}

.file-download-btn:focus {
  color:#b49c7f;
  text-decoration: none;
}

.file-download-btn:active {
  color:#b49c7f;
  text-decoration: none;
}
