.page {
  margin: 0 10px;
  color: #282a29;
  font-size: 20px;
  font-family: 'Lato:300';
}

@media(min-width: 992px) {
  .page{
    margin: 0 100px;
  }
}

.page h2 {
  font-weight: 700;
  margin-bottom: 25px;
}
